body{
	margin: 0;
	padding: 0;
	background:#FBEBFC;	
}
.font-lemon{
	font-family: 'Lemonada', cursive;
}
.font-play{
	font-family: 'Playfair Display', serif;
}
.font-tit{
	font-family: 'Titillium Web', sans-serif;
}
.font-flower{
	font-family: 'Indie Flower', cursive;
}
.font-10{
	font-size: 10px;
}
.font-12{
	font-size: 12px;
}
.font-14{
	font-size: 14px;
}
.font-18{
	font-size: 18px;
}
.font-30{
	font-size: 30px;
}
form{	
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	width: 400px;
	height: 500px;
	background: #fff;
	-webkit-box-shadow: 9px 2px 5px 3px rgba(194,180,194,0.38);
	-moz-box-shadow: 9px 2px 5px 3px rgba(194,180,194,0.38);
	box-shadow: 9px 2px 5px 3px rgba(194,180,194,0.12);
	padding: 50px;
	border-radius: 5px;
	/*border-top-left-radius:25px;*/
	/*border-bottom-left-radius:25px;*/
	

}
/*img{	
	position: absolute;
	top: 50%;
	left: 60.4%;
	transform: translate(-50%,-50%);
	width: 400px;
	height: 500px;	
	border-top-right-radius:25px;
	border-bottom-right-radius:25px;	
	-webkit-box-shadow: 9px 2px 5px 3px rgba(194,180,194,0.38);
	-moz-box-shadow: 9px 2px 5px 3px rgba(194,180,194,0.38);
	box-shadow: 9px 2px 5px 3px rgba(194,180,194,0.12);
}*/
.field-icon{
	float: right;
	margin-left: -25px;
	margin-top:33px;
	position: relative;
	z-index: 2;
}
.container h2{
	margin: 20px 0px 20px;
	
}
.container  input[type="text"]{
	margin-top: 40px;

}.container  input[type="password"]{
	margin-top: 35px;

}
.container .input-group input{
	width: 100%;
	border:none;
	outline: none;
	border-bottom: 1px solid #0C0C05;
	transition: 0.5s all ease;
	
}

/*input[type='text']:not(:focus) +.field_label{*/
	/*font-size:12px;*/
	/*font-weight: bolder;	*/
	/*transform: translateY(-70%);*/
	/*color: red;*/
	/*display: none;*/
/*}*/

.container .input-group input[type="submit"]{
	background:black;		
	border-bottom:none;
	transition: 0.5s;
	height: 35px;
	color: white;	
}
.container .input-group input[type="submit"]:hover{
	border:0.5px solid black;
	background: #fff;
	color: black;
}
.container .registerEdit{
	margin-top: 0!important;
	text-decoration: none;
	color:#777;
	font-weight: bold;
	display: inline-block;
	transition: 0.5s all ease;
}
.container .close:hover{
	color: red !important;
}
.container  a:hover{
	color:#000000;
	text-decoration: none;
}
.container  .close{
	color: black;
	position:absolute;
	top: 13px;
	right: 20px;
}
.container .close:hover{
	color:  #FF0000 ;
	transform: translate(0,-5%);
	text-decoration: none;
}