body{
	margin: 0;
	padding: 0;
	background: #FBEBFC !important;
	
}
.font-lemon{
	font-family: 'Lemonada', cursive;
}
.font-play{
	font-family: 'Playfair Display', serif;
}
.font-tit{
	font-family: 'Titillium Web', sans-serif;
}
.font-flower{
	font-family: 'Indie Flower', cursive;
}
.font-14{
	font-size: 14px;
}
.font-16{
	font-size: 16px;
}
.font-18{
	font-size: 18px;
}
.font-22{
	font-size: 22px;
}
.font-30{
	font-size: 30px;
}
.font-40{
	font-size: 40px;
}
.font-50{
	font-size: 50px;
}
.bg-round{
	border-radius: 5px;
}
.font-author{
	color: #E1AA80;
}
.dropdown-item:hover{
	border-bottom: 1px solid #F4F1EA;
}

.navbar-toggler:focus{
 border: none;
 outline: none;
}
.search{
	
	height: 40px;
	border-radius: 40px;
	
	background: #FFF;
}

.search:hover >.search-text{
	width: 400px;
	border-bottom: 1px solid #000;
}
.search-button{
	color:#000;
	font-size: 22px;
}
.search-button:hover{
	
	color: green;
	text-decoration: none;
}
.search-text{
	border: none;
	outline: none;
	width:0px;
	line-height: 30px;
	color:#000;
	width: 0px;
	position: relative;
	top: 0%;
	transition:4s;
	background:#FFF;
}

nav {
	background: #F4F1EA;

}
nav li a:hover{
	border-bottom: 1px solid black;
	transition:0.5s;
	transform: translateY(15%);
}

@media screen and (max-width: 768px){
	.search:hover >.search-text{
	width: 200px;
	border-bottom: 1px solid #000;
	}
}

