body{
	margin: 0;
	padding: 0;

}
.font-lemon{
	font-family: 'Lemonada', cursive;
}
.font-play{
	font-family: 'Playfair Display', serif;
}
.font-tit{
	font-family: 'Titillium Web', sans-serif;
}
.font-14{
	font-size: 14px;
}
.font-18{
	font-size: 18px;
}
.font-30{
	font-size: 30px;
}
.font-50{
	font-size: 50px;
}
.container{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
.container button{
	width: 23%;
}
.container a{
	text-decoration: none;
}